.alertcompt-transition-duringshort {
	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.alertcompt-container {
	position: fixed;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999990;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	* {
		box-sizing: border-box;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
}

.alertcompt-lock-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 999991;
	background-color: rgba(140, 140, 140, 0.3);
	transition: all 0.15s ease-in;
	opacity: 0;
	&-transparent {
		background-color: transparent !important;
	}
	&-visible {
		opacity: 1;
	}
}
.alertcompt-flex-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	transition: all 0.15s ease-in;
	transform: scale(1.15);
	z-index: 999992;
	opacity: 0;
	&-visible {
		transform: scale(1);
		opacity: 1;
	}
	.alertcompt-wrapper {
		position: relative;
		width: 255px;
		min-height: 60px;
		max-height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		background-color: #ffffff;
		border-radius: 8px;
		opacity: 1;
		transform: translate3d(0, 0, 5px) scale(1);
		z-index: 999992;
		overflow: hidden;
		border: 1px solid rgb(160 160 160 / 30%);
		box-shadow: rgb(180 180 180 / 30%) 0px 0px 20px;
		&-lightboxshow {
			border: 1px solid rgb(180 180 180 / 30%) !important;
			box-shadow: rgb(200 200 200 / 30%) 0px 0px 20px !important;
		}
		.alertcompt-message-wrapper {
			width: 100%;
			height: 100%;
			padding: 20px 20px 18px 20px;
			font-size: 14px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
			.alertcompt-message-title {
				display: none;
				width: 100%;
				word-break: break-all;
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				flex-shrink: 0;
				font-weight: 600;
				text-align: center;
				&-visible {
					display: -webkit-box;
					line-height: 18px;
					max-height: 36px;
				}
			}
			.alertcompt-message-content {
				display: none;
				width: 100%;
				overflow: auto;
				margin: 5px 0 0 0;
				font-size: 12px;
				&-visible {
					text-align: center;
					display: block;
				}
			}
		}
		.alertcompt-btns-wrapper {
			width: 100%;
			height: 40px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			flex-wrap: nowrap;
			border-top: 1px solid #efefef;
			flex-shrink: 0;
			.alertcompt-btn {
				position: relative;
				width: 100%;
				height: 100%;
				border: 0;
				margin: 0;
				padding: 0;
				outline: 0;
				cursor: pointer;
				border-left: 1px solid #efefef;
				color: #666666;
				font-size: 16px;
				overflow: hidden;
				background-color: #ffffff;
				.alertcompt-btntext {
					position: relative;
					z-index: 999999;
				}
				&:hover {
					background-color: #f9f9f9;
				}
				&:first-child {
					border-left: 0;
				}
				&:focus {
					outline: 0;
					background-color: #f6f6f6;
				}
			}
			.alertcompt-default-btn {
				color: #222222;
				opacity: 0.8;
			}
			.alertcompt-primary-btn {
				color: rgb(32, 128, 240, 1);
			}
			.alertcompt-warning-btn {
				color: rgb(252, 176, 64, 1);
			}
			.alertcompt-error-btn {
				color: rgb(247, 67, 103);
			}
		}
	}
}
